<div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  var __semio__params = {
    graphcommentId: "vibes", // make sure the id is yours

    behaviour: {
       uid: "{{ .Title | urlize }}"
    },

    // configure your variables here

    integration: {
      theme: document.body.className.includes("dark")? "dark": "light",	
    },

  }

  /* - - - EVENT LISTENER - - - */

  document.getElementById("theme-toggle").addEventListener("click", () => {
    if (document.body.className.includes("dark")) {
      localStorage.setItem("pref-theme", 'light');
      __semio__params.integration.theme = "light";
    } else {
      localStorage.setItem("pref-theme", 'dark');
      __semio__params.integration.theme = "dark";
    }

    // Clear the existing GraphComment container
    var graphCommentContainer = document.getElementById("graphcomment");
    graphCommentContainer.innerHTML = "";

    // Refresh GraphComment integration
    __semio__gc_graphlogin(__semio__params);
  });

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  function __semio__onload() {
    __semio__gc_graphlogin(__semio__params);
  }

  (function() {
    var gc = document.createElement('script');
    gc.type = 'text/javascript';
    gc.async = true;
    gc.onload = __semio__onload;
    gc.defer = true;
    gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
</script>
