{{ if .Params.math }}{{ partial "helpers/katex.html" . }}{{ end }}

<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e61574ae39b24e45935f63aa41dc6dd0"}'></script>

<!-- Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

<!-- Mastodon Verification-->
<link rel="me" href="https://mastodon.social/@cogniVibes">